body {
    font-family: 'Noto Sans JP', sans-serif;
}

.alert-container {}

.callout-container {
    height: 100vh;
    background: url(../images/moon.jpg) no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
}

.quotes-container {}

.features-container {}

/*Navbar*/
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
}


    


/*jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #938d82;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff9ef;
}

/*Buttons*/

.btn-light {
    color: #ffffff;
    background-color: #f05e40;
    border-color: #f05e40;
}

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--red {
    color: white;
    background-color: #f05f40;
    border-color: #f05f40;
}

.btn--red:hover,
.btn--red:focus,
.btn--red:active,
.btn--red:active:focus {
    background-color: #961b00;
    border-color: #961b00;
}

/*orange-line*/

.orange-line {
    width: 100px;
    height: 5px;
    background-color: #f05f40;
    border-radius: 30%;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;

}

#orange-backgrund{
    background-color: orange;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.navbar-dark .navbar-toggler{
    border-color: rgba(255,255,255,.0);
}

.col-12{
    padding-left: 0px;
    padding-right: 0px;
}

.feature i{
    font-size: 45px;
    
}